name: Deploy Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start deployment
        run: echo "Début du déploiement"

      - name: Show Secret
        run: echo "Token is ${{ secrets.DEPLOY_TOKEN }}"

      - name: Finish deployment
        run: echo "Déploiement terminé par Noupiatche Marc"
